.mandatory{
	color: red;
}
span.error{
	color: red;
	font-weight: normal;
}
.ajax-loader {
  	position: absolute;
  	left: 50%;
  	top: 50%;
  	margin-left: -32px; /* -1 * image width / 2 */
  	margin-top: -32px; /* -1 * image height / 2 */
}